.App{
  width: 500px;
  height: fit-content;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(107,83,187,1) 3%, rgba(106,59,172,1) 12%, rgba(121,9,43,1) 100%, rgba(0,212,255,1) 100%);
  margin: 100px auto;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.App h2 {
  font-size: 60px;
  margin-bottom: 10px;

}

.btnTodo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btnTodo button {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  background-color: darkmagenta;
  color: white;
}
.content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    
}

.content ul li {
  width: 180px;
  overflow-wrap:break-word;
  list-style-type: disclosure-closed;

}

.content input{
  border: 2px solid black;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 10px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.content button{
  margin: 10px;
  height: 35px;
  width: 100px;
  border-radius: 10px;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
span{
  margin-left: 10px;
}
.icondelete{
  cursor: pointer;
}
.icondone{
  font-size: 20px;
  cursor: pointer;
}